<form [formGroup]="form">
  <div class="form-group">
    <label for="old-password">Old Password</label>
    <input
      type="password"
      formControlName="oldPassword"
      class="form-control"
      id="old-password"
    />
  </div>
  <div
    *ngIf="oldPassword.invalid && oldPassword.touched"
    class="alert alert-danger"
  >
    <div *ngIf="oldPassword.errors.required">This field is required.</div>
    <div *ngIf="oldPassword.errors.invalidOldPassword">
      Oldpassword is invalid.
    </div>
  </div>

  <div class="form-group">
    <label for="newPassord">New Password</label>
    <input type="password" class="form-control" id="newPassord" />
  </div>

  <div class="form-group">
    <label for="confirmNewPassword">Confirm Password</label>
    <input type="password" class="form-control" id="confirmNewPassword" />
  </div>

  <button type="submit" class="btn btn-primary">Change Password</button>
</form>
